.container {
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: toRem(320px);
    padding-top: toRem(80px) ;

    @include breakpoint-up(medium) {
        width: toRem(400px);
    }

    @include breakpoint-up(large) {
        flex-flow: row wrap;
        width: 80%;
        justify-content: space-between;
        padding-top: toRem(100px);
        align-items: flex-end;
    }

    @include breakpoint-up(xxlarge){
        width: 80%;
        // max-width: toRem(1116px);
        max-width: toRem(1100px);
        justify-content: flex-start;
    }

    // @include breakpoint-up(medium) {
    //     flex-flow: row wrap;
    //     max-width: toRem(1116px);
    //     align-items: flex-end;

    // }

}