.container {
    margin: 0 auto;
    display: flex;

    @include breakpoint-down(small){
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        width: toRem(320px);
    }

    @include breakpoint-up(medium) {
        flex-flow: row wrap;
        padding-top: toRem(130px);
        // max-width: toRem(1112px);
        max-width: toRem(1116px);
        align-items: flex-end;

    }

}