.header {
    text-align: center;    

    @include breakpoint-up(medium) {
        text-align: center;
    }

    @include breakpoint-up(large) {
        text-align: left;
        flex-basis: 50%;
    }

    @include breakpoint-up(xlarge){
        padding-right: toRem(40px);
    }

    @include breakpoint-up(xxlarge){
        padding-right: toRem(60px);
    }

    &__headline {
        color: $veryDark;
        font-weight: 700;
        line-height: 1.0;
        
        font-size: $font-xlg;
        padding: 0 toRem(50px);

        @include breakpoint-up(medium) {
            font-size: $font-xxxlg;
            padding: 0;
        }

        @include breakpoint-up(xlarge) {
            font-size: $font-xxxxlg;
            // padding: 0 toRem(50px) 0 0;
            padding: 0 0 0 0;
        }
    }

    &__subheadline {
        margin-top: toRem(20px);
        // line-height: 1.2;
        font-size: $font-xsm;
        color: $darkGrayishMagenta;
    }

}