.testimonials {
    margin-top: toRem(46px);
    display: flex;
    flex-direction: column;
    // flex-basis: 100%;

    @include breakpoint-up(large) {   
        flex-direction: row;     
        flex-wrap:  wrap;        
        justify-content: space-around;
        align-content: space-around;
    }

    @include breakpoint-up(xlarge) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .testimonial {
        background-color: $veryDark;
        padding: toRem(40px) toRem(30px);
        font-size: $font-xsm;
        color: $white;
        text-align: left;
        border-radius: toRem(8px);
        flex-basis: 32%;

        &:not(:first-child) {
            margin-top: toRem(16px);
        }

        @include breakpoint-up(large) {
            flex-basis: 46%;
            
            &:not(:first-child) {
                margin-top: 0;
            }

            &:last-child {
                margin-top: 4%;
            }

        }

        @include breakpoint-up(xlarge) {
            flex-basis: 32%;
            
            &:not(:first-child) {
                margin-top: 0;
            }

        }

        @include breakpoint-up(xxlarge) {
            flex-basis: 32%;
            height: 100%;

            // &:last-child {
            //     margin-top: 0;
            // }

            @for $i from 0 through 2 {
                &:nth-child(#{$i + 1}){
                    margin-top: multiply($i, 20px);
                }
            }
        }

    
        
        
        // @include breakpoint-up(medium) {
        //     @for $i from 0 through 2 {
        //         &:nth-child(#{$i + 1}){
        //             margin-top: multiply($i, 20px);
        //             @if $i > 0 {
        //                 margin-left: toRem(16px);
        //             }
        //         }
        //     }
        // }


        &__header {
            display: flex;
            flex-flow: column wrap;
            height: toRem(50px);
            align-content: flex-start;

            &__pic {
                width: toRem(50px);
                height: toRem(50px);
                margin-right: toRem(26px);
                border-radius: 50%;
                
            }

            &__name {
                margin-top: auto;
            }

            &__type {
                margin-bottom: auto;
                color: $softPink;
            }
        }


        &__msg {
            margin-top: toRem(30px);
        }
    }
}